Repository ghdl/ghdl, pull requests merged in 2018-05, with the labels that each got.

#575 Update Makefile.in
  Makefile.in
Labels: Build: Makefile

#574 Update xcode version in travis
  .travis.yml
Labels: CI: Travis-CI, OS: Mac OS

#583 add .github (issue templates)
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING
  doc/contribute.rst
  doc/shields.inc
Labels: Enhancement

#585 move docker-related resources to ghdl/docker
  .travis.yml
  dist/linux/create.sh
  dist/linux/deploy2dockerhub.sh
  dist/linux/docker/build/buster
  dist/linux/docker/build/fedora26
  dist/linux/docker/build/stretch
  dist/linux/docker/build/ubuntu14
  dist/linux/docker/build/ubuntu16
  dist/linux/docker/build/ubuntu18
  dist/linux/docker/run/buster
  dist/linux/docker/run/fedora26
  dist/linux/docker/run/stretch
  dist/linux/docker/run/ubuntu14
  dist/linux/docker/run/ubuntu16
  dist/linux/docker/run/ubuntu18
  dist/linux/travis-enc-dockerhub.sh
  dist/travis/build.sh
  dist/travis/test.sh
  dist/travis/travis-ci.sh
  dist/travis/travis-utils.sh
Labels: Docker

#589 Remove redundant use-clauses for gcc 8.1 compatibility
  src/ghdldrv/ghdlrun.adb
  src/grt/grt-processes.adb
  src/ortho/mcode/ortho_code-decls.adb
  src/ortho/mcode/ortho_code-dwarf.adb
  src/ortho/mcode/ortho_code-x86-abi.adb
  src/ortho/mcode/ortho_code-x86-emits.adb
  src/ortho/mcode/ortho_jit.adb
Labels: Build: Makefile, Enhancement
