Repository ghdl/ghdl, pull requests merged in 2018-06, with the labels that each got.

#591 Rephrase documentation - typos, grammatical nuance, and links
  doc/appendix/Meta.rst
  doc/appendix/Roadmap.rst
  doc/building/Building.rst
  doc/building/Directories.rst
  doc/building/PrecompileVendorPrimitives.rst
  doc/building/gcc/GNULinux-GNAT.rst
  doc/building/gcc/index.rst
  doc/building/llvm/GNULinux-GNAT.rst
  doc/building/llvm/Windows-MinGW-GNAT.rst
  doc/building/mcode/GNULinux-GNAT.rst
  doc/building/mcode/Windows-MinGW-GNAT.rst
  doc/building/mcode/index.rst
  doc/contribute.rst
  doc/getting/Releases.rst
  doc/licenses.rst
  doc/references/CodingStyle.rst
  doc/references/CommandReference.rst
  doc/references/ImplementationOfVHDL.rst
  doc/references/ImplementationOfVITAL.rst
  doc/using/InvokingGHDL.rst
  doc/using/QuickStartGuide.rst
  doc/using/Simulation.rst
Labels: Documentation, Enhancement

#602 use fedora28 instead of fedora26
  .travis.yml
Labels: CI: Travis-CI, Package: Fedora (rpm)

#601 log stderr of make to a file and use tail to show last 1000 lines
  dist/travis/build.sh
Labels: Backend: GCC, CI: Travis-CI
