Repository ghdl/ghdl, pull requests merged in 2019-02, with the labels that each got.

#753 VPI: add support for detecting ports and their directions
  src/grt/grt-vpi.adb
  src/grt/grt-vpi.ads
Labels: Interface: VPI

#755 minor change in GCC backend build example
  doc/building/gcc/GNULinux-GNAT.rst
  doc/ghdl.texi
Labels: Backend: GCC

#767 add sphinx_rtd_theme to requirements.txt
  doc/requirements.txt
Labels: Documentation, ReadTheDocs

#766 update .readthedocs.yml to version 2
  .readthedocs.yml
Labels: Documentation, ReadTheDocs

#770 doc: generate shields from json files instead of hardcoding all of the in inc files
  doc/about.rst
  doc/helpers.py
  doc/index.rst
  doc/shields.inc
  doc/shields.json
  doc/shieldswho.inc
  doc/shieldswho.json
Labels: Documentation, ReadTheDocs
