Repository ghdl/ghdl, pull requests merged in 2021-01, with the labels that each got.

#1568 Add file headers to auto-generated Python sources.
  pyGHDL/libghdl/errorout.py
  pyGHDL/libghdl/std_names.py
  pyGHDL/libghdl/vhdl/elocations.py
  pyGHDL/libghdl/vhdl/nodes.py
  pyGHDL/libghdl/vhdl/nodes_meta.py
  pyGHDL/libghdl/vhdl/tokens.py
  scripts/pnodespy.py
Labels: Enhancement

#1571 synth: Add option to treat PSL asserts as PSL assumes and vice-versa
  doc/using/Synthesis.rst
  src/ghdldrv/ghdlsynth.adb
  src/synth/netlists-disp_vhdl.adb
  src/synth/synth-flags.ads
  src/synth/synth-stmts.adb
  testsuite/synth/assertassumes0/assert0.vhdl
  testsuite/synth/assertassumes0/testsuite.sh
  testsuite/synth/assumeasserts0/assume0.vhdl
  testsuite/synth/assumeasserts0/testsuite.sh
Labels: Feature: PSL, Feature: Synthesis

#929 Migrate from Travis and AppVeyor to GitHub Actions
  .github/workflows/doc.yml
  .github/workflows/push.yml
  .travis.yml
  README.md
  appveyor.yml
  scripts/macosx/install-ada.sh
  scripts/man.sh
Labels: CI: AppVeyor, CI: GitHub Actions, CI: Travis-CI

#1603 Improvements to PoSh scripts after working on Bash scripts.
  libraries/vendors/compile-altera.ps1
  libraries/vendors/compile-intel.ps1
  libraries/vendors/compile-lattice.ps1
  libraries/vendors/compile-osvvm.ps1
  libraries/vendors/compile-uvvm.ps1
  libraries/vendors/compile-xilinx-ise.ps1
  libraries/vendors/compile-xilinx-vivado.ps1
  libraries/vendors/shared.psm1
Labels: Precompile Scripts

#1605 Fixed style issues and potential bugs.
  libraries/vendors/compile-altera.sh
  libraries/vendors/compile-intel.sh
  libraries/vendors/compile-lattice.sh
  libraries/vendors/compile-osvvm.sh
  libraries/vendors/compile-uvvm.sh
  libraries/vendors/compile-xilinx-ise.sh
  libraries/vendors/compile-xilinx-vivado.sh
  libraries/vendors/shared.sh
Labels: Precompile Scripts

#1611 Read order of components from UVVM repository.
  libraries/vendors/compile-uvvm.ps1
Labels: Precompile Scripts, ThirdParty: UVVM

#1614 Improvements to the UVVM pre-compile scripts.
  libraries/vendors/README.md
  libraries/vendors/compile-uvvm.ps1
  libraries/vendors/compile-uvvm.sh
  libraries/vendors/shared.sh
Labels: Precompile Scripts, ThirdParty: UVVM

#1619 Fixed corner cases and error reporting for UVVM pre-compile scripts.
  libraries/vendors/compile-uvvm.ps1
  libraries/vendors/compile-uvvm.sh
Labels: Precompile Scripts, ThirdParty: UVVM
