Repository ghdl/ghdl, pull requests merged in 2021-02, with the labels that each got.

#1633 Add support for PSL onehot/onehot0 functions
  doc/using/ImplementationOfVHDL.rst
  pyGHDL/libghdl/std_names.py
  pyGHDL/libghdl/vhdl/nodes.py
  pyGHDL/libghdl/vhdl/tokens.py
  src/ghdldrv/ghdlprint.adb
  src/std_names.adb
  src/std_names.ads
  src/synth/synth-expr.adb
  src/vhdl/vhdl-elocations.adb
  src/vhdl/vhdl-elocations.ads
  src/vhdl/vhdl-errors.adb
  src/vhdl/vhdl-nodes.adb
  src/vhdl/vhdl-nodes.ads
  src/vhdl/vhdl-nodes_meta.adb
  src/vhdl/vhdl-parse.adb
  src/vhdl/vhdl-prints.adb
  src/vhdl/vhdl-scanner.adb
  src/vhdl/vhdl-sem_expr.adb
  src/vhdl/vhdl-sem_psl.adb
  src/vhdl/vhdl-sem_psl.ads
  src/vhdl/vhdl-tokens.adb
  src/vhdl/vhdl-tokens.ads
  src/vhdl/vhdl-utils.adb
  testsuite/synth/issue662/psl_onehot.vhdl
  testsuite/synth/issue662/psl_onehot0.vhdl
  testsuite/synth/issue662/tb_psl_onehot.vhdl
  testsuite/synth/issue662/tb_psl_onehot0.vhdl
  testsuite/synth/issue662/testsuite.sh
Labels: Enhancement, Feature: PSL, Feature: Synthesis

#1644 Add gitignore files for testsuite
  .gitignore
Labels: Enhancement

#1651 update for LLVM 11.1
  configure
  doc/development/building/LLVM.rst
Labels: Backend: LLVM, Build: Makefile, Enhancement

#1653 vendors: support deprecated param names
  scripts/vendors/compile-altera.sh
  scripts/vendors/compile-intel.sh
  scripts/vendors/compile-lattice.sh
  scripts/vendors/compile-osvvm.sh
  scripts/vendors/compile-uvvm.sh
  scripts/vendors/compile-xilinx-ise.sh
  scripts/vendors/compile-xilinx-vivado.sh
Labels: Precompile Scripts

#1660 revert "log stderr of make to a file and use tail to show last 1000 lines"
  scripts/ci-run.sh
Labels: Backend: GCC, CI: GitHub Actions
