Repository ghdl/ghdl, pull requests merged in 2021-09, with the labels that each got.

#1861 add cpp header check for libghw
  ghw/libghw.h
Labels: Output: GHW

#1868 Fixed some typos.
  src/ortho/mcode/ortho_code-x86-insns.adb
  src/vhdl/translate/trans-chap2.adb
  src/vhdl/translate/trans.adb
  src/vhdl/translate/trans_analyzes.adb
  src/vhdl/vhdl-canon.adb
  src/vhdl/vhdl-canon.ads
  src/vhdl/vhdl-sem_expr.adb
  src/vhdl/vhdl-sem_inst.adb
  src/vhdl/vhdl-sem_scopes.adb
  src/vhdl/vhdl-utils.adb
  src/vhdl/vhdl-utils.ads
Labels: Enhancement

#1870 Added binding to new function 'Get_Source_Identifier'.
  pyGHDL/dom/_Utils.py
  pyGHDL/libghdl/vhdl/utils.py
Labels: Interface: Python

#1872 Implement Matching Operators
  src/vhdl/vhdl-evaluation.adb
Labels: FeaReq: VHDL-2008

#1878 Fixed PoSh scripting
  scripts/vendors/compile-altera.ps1
  scripts/vendors/compile-intel.ps1
  scripts/vendors/compile-lattice.ps1
  scripts/vendors/compile-uvvm.ps1
  scripts/vendors/compile-xilinx-ise.ps1
  scripts/vendors/compile-xilinx-vivado.ps1
  scripts/vendors/shared.psm1
Labels: Precompile Scripts

#1873 Add test for matching operators.
  testsuite/gna/issue1872/match_operators.vhdl
  testsuite/gna/issue1872/testsuite.sh
Labels: FeaReq: VHDL-2008, Testsuite: gna

#1879 Add parsing of case? statement and simple test.
  pyGHDL/libghdl/vhdl/nodes.py
  pyGHDL/libghdl/vhdl/nodes_meta.py
  pyGHDL/libghdl/vhdl/tokens.py
  src/vhdl/vhdl-nodes.adb
  src/vhdl/vhdl-nodes.ads
  src/vhdl/vhdl-nodes_meta.adb
  src/vhdl/vhdl-nodes_meta.ads
  src/vhdl/vhdl-parse.adb
  src/vhdl/vhdl-scanner.adb
  src/vhdl/vhdl-tokens.adb
  src/vhdl/vhdl-tokens.ads
  testsuite/gna/issue717/matching_case.vhdl
  testsuite/gna/issue717/testsuite.sh
Labels: Enhancement, FeaReq: VHDL-2008
