Repository ghdl/ghdl, pull requests merged in 2021-03, with the labels that each got.

#1683 scripts/vendors: add missing workdir argument
  scripts/vendors/shared.sh
Labels: Bug, Enhancement, Precompile Scripts

#1696 Psl warn uncovered
  doc/using/Simulation.rst
Labels: CI: BuildTheDocs, Documentation: Restructured Text, Feature: PSL

#1705 doc/using: document synth option '--out'
  doc/using/Synthesis.rst
Labels: CI: BuildTheDocs, Documentation: Restructured Text, Feature: Synthesis
