Repository ghdl/ghdl, pull requests merged in 2021-07, with the labels that each got.

#1813 Read requirement files recursively
  setup.py
Labels: Interface: Python

#1809 ci: generate standalone zipfiles and add CPython jobs
  .github/workflows/Test.yml
  pyGHDL/cli/lsp.py
  scripts/msys2-mcode/GetStandaloneDeps.sh
  setup.py
  testsuite/pyunit/lsp/LanguageServer.py
Labels: CI: GitHub Actions, Package: Windows (ZIP)

#1825 libghw: add missing semicolon to physical type formatting
  ghw/libghw.c
  testsuite/gna/issue418/golden_tc749.txt
Labels: Enhancement, Output: GHW
