Repository ghdl/ghdl, pull requests merged in 2021-04, with the labels that each got.

#1706 Add 'element attribute support
  src/vhdl/vhdl-prints.adb
  src/vhdl/vhdl-sem_names.adb
  src/vhdl/vhdl-utils.adb
  src/vhdl/vhdl-utils.ads
  testsuite/gna/issue1593/element_bug.vhdl
  testsuite/gna/issue1593/testsuite.sh
Labels: Enhancement, FeaReq: VHDL-2008, Testsuite: gna

#1709 Vhdl parse: resync external name
  src/vhdl/vhdl-parse.adb
Labels: Enhancement

#1712 src: Better reporting of missing parenthesis.
  src/vhdl/vhdl-parse.adb
Labels: Enhancement

#1729 VHPI: improve C enum interop
  src/grt/grt-avhpi.ads
  src/grt/grt-vhpi.adb
  src/grt/grt-vhpi.ads
Labels: Enhancement, Interface: VHPI

#1737 src: Minor clarifications in Error messages for Warning and VHDL std …
  src/options.adb
Labels: Enhancement

#1746 Migrate deprecated DebugLoc::get to DILocation::get
  src/ortho/llvm6/llvm-cbindings.cpp
Labels: Backend: LLVM, Enhancement

#1744 Makefile.in: pass ghwdump location to testsuite
  Makefile.in
  testsuite/testsuite.sh
Labels: Enhancement, Output: GHW, Testsuite: gna

#1749 Increase stack size for msys2-mcode binary (fix #1742)
  scripts/msys2-mcode/PKGBUILD
Labels: Backend: mcode, OS: Windows (MinGW), Package: Windows - MinGW (PKGBUILD)
