Repository ghdl/ghdl, pull requests merged in 2022-12, with the labels that each got.

#2255 f-strings
  doc/conf.py
  pyGHDL/cli/dom.py
  pyGHDL/cli/lsp.py
  pyGHDL/dom/Attribute.py
  pyGHDL/dom/Concurrent.py
  pyGHDL/dom/DesignUnit.py
  pyGHDL/dom/Expression.py
  pyGHDL/dom/NonStandard.py
  pyGHDL/dom/Sequential.py
  pyGHDL/dom/Type.py
  pyGHDL/dom/_Translate.py
  pyGHDL/dom/_Utils.py
  pyGHDL/dom/__init__.py
  pyGHDL/dom/formatting/prettyprint.py
  pyGHDL/libghdl/_decorator.py
  pyGHDL/lsp/lsp.py
  pyGHDL/lsp/symbols.py
  pyGHDL/lsp/workspace.py
  scripts/pnodes.py
  scripts/pnodespy.py
  testsuite/pyunit/libghdl/Comments.py
  testsuite/pyunit/libghdl/VHDL.py
  testsuite/pyunit/lsp/LanguageServer.py
Labels: Enhancement, Interface: Python, Testsuite: python

#2261 Reorganized testcases
  testsuite/pyunit/libghdl/Comment2.vhdl
  testsuite/pyunit/libghdl/Comments.py
  testsuite/pyunit/libghdl/examples/Complex.vhdl
  testsuite/pyunit/libghdl/examples/comments/DesignComment.vhdl
  testsuite/pyunit/libghdl/examples/comments/arch_bef.vhdl
  testsuite/pyunit/libghdl/examples/comments/arch_inside.vhdl
  testsuite/pyunit/libghdl/examples/comments/arch_inside_fail.vhdl
  testsuite/pyunit/libghdl/examples/comments/array.vhdl
  testsuite/pyunit/libghdl/examples/comments/conf_bef.vhdl
  testsuite/pyunit/libghdl/examples/comments/conf_inside.vhdl
  testsuite/pyunit/libghdl/examples/comments/conf_inside_fail.vhdl
  testsuite/pyunit/libghdl/examples/comments/const.vhdl
  testsuite/pyunit/libghdl/examples/comments/const_fail.vhdl
  testsuite/pyunit/libghdl/examples/comments/ctxt_bef.vhdl
  testsuite/pyunit/libghdl/examples/comments/ctxt_inside.vhdl
  testsuite/pyunit/libghdl/examples/comments/ctxt_inside_fail.vhdl
  testsuite/pyunit/libghdl/examples/comments/element_1.vhdl
  testsuite/pyunit/libghdl/examples/comments/element_2.vhdl
  testsuite/pyunit/libghdl/examples/comments/element_3.vhdl
  testsuite/pyunit/libghdl/examples/comments/element_4.vhdl
  testsuite/pyunit/libghdl/examples/comments/elements_fail.vhdl
  testsuite/pyunit/libghdl/examples/comments/ent_arch.vhdl
  testsuite/pyunit/libghdl/examples/comments/ent_bef.vhdl
  testsuite/pyunit/libghdl/examples/comments/ent_inside.vhdl
  testsuite/pyunit/libghdl/examples/comments/enum.vhdl
  testsuite/pyunit/libghdl/examples/comments/enum_fail.vhdl
  testsuite/pyunit/libghdl/examples/comments/enumlit_1.vhdl
  testsuite/pyunit/libghdl/examples/comments/enumlit_2.vhdl
  testsuite/pyunit/libghdl/examples/comments/enumlit_3.vhdl
  testsuite/pyunit/libghdl/examples/comments/enumlit_fail.vhdl
  testsuite/pyunit/libghdl/examples/comments/func.vhdl
  testsuite/pyunit/libghdl/examples/comments/func_fail.vhdl
  testsuite/pyunit/libghdl/examples/comments/func_param.vhdl
  testsuite/pyunit/libghdl/examples/comments/func_param_fail.vhdl
  testsuite/pyunit/libghdl/examples/comments/line1.vhdl
  testsuite/pyunit/libghdl/examples/comments/multi1.vhdl
  testsuite/pyunit/libghdl/examples/comments/pkg_bef.vhdl
  testsuite/pyunit/libghdl/examples/comments/pkg_inside.vhdl
  testsuite/pyunit/libghdl/examples/comments/pkg_inside_fail.vhdl
  testsuite/pyunit/libghdl/examples/comments/pkg_inside_fail2.vhdl
  testsuite/pyunit/libghdl/examples/comments/process.vhdl
  testsuite/pyunit/libghdl/examples/comments/process_fail.vhdl
  testsuite/pyunit/libghdl/examples/comments/record.vhdl
  testsuite/pyunit/libghdl/examples/comments/record_fail.vhdl
  testsuite/pyunit/libghdl/examples/comments/sig.vhdl
  testsuite/pyunit/libghdl/examples/comments/sig_2.vhdl
  testsuite/pyunit/libghdl/examples/comments/sig_fail.vhdl
  testsuite/pyunit/libghdl/examples/comments/type.vhdl
  testsuite/pyunit/libghdl/examples/comments/type_fail.vhdl
  testsuite/pyunit/libghdl/examples/comments/var.vhdl
  testsuite/pyunit/libghdl/examples/comments/var_fail.vhdl
Labels: Enhancement, Interface: Python, Testsuite: python

#2263 Enhanced SimpleEntity with code comments.
  testsuite/pyunit/SimpleEntity.vhdl
  testsuite/pyunit/dom/SimpleEntity.py
  testsuite/pyunit/libghdl/Initialize.py
Labels: Enhancement, Testsuite: python

#2243 Restore latch inference.
  src/synth/netlists-inference.adb
Labels: Enhancement, Feature: Synthesis

#2275 Testing complex documentation examples
  testsuite/pyunit/libghdl/Comments.py
  testsuite/pyunit/libghdl/examples/Complex.vhdl
  testsuite/pyunit/libghdl/examples/Complex_MultiLine.vhdl
  testsuite/pyunit/libghdl/examples/Complex_SingleLine.vhdl
Labels: Interface: Python, Testsuite: python

#2265 pyGHDL.dom with Documentation
  .github/workflows/Test.yml
  pyGHDL/dom/Attribute.py
  pyGHDL/dom/DesignUnit.py
  pyGHDL/dom/InterfaceItem.py
  pyGHDL/dom/Misc.py
  pyGHDL/dom/NonStandard.py
  pyGHDL/dom/Object.py
  pyGHDL/dom/Subprogram.py
  pyGHDL/dom/Symbol.py
  pyGHDL/dom/Type.py
  pyGHDL/dom/_Translate.py
  pyGHDL/dom/_Utils.py
  pyGHDL/dom/__init__.py
  pyGHDL/dom/formatting/prettyprint.py
  pyGHDL/dom/requirements.txt
  testsuite/pyunit/SimplePackage.vhdl
  testsuite/pyunit/dom/Expressions.py
  testsuite/pyunit/dom/Literals.py
  testsuite/pyunit/dom/Sanity.py
  testsuite/pyunit/dom/Simple.py
  testsuite/pyunit/dom/SimplePackage.py
  testsuite/pyunit/dom/StopWatch.py
  testsuite/pyunit/dom/examples/SimpleEntity.vhdl
  testsuite/pyunit/dom/examples/SimplePackage.vhdl
  testsuite/pyunit/dom/examples/StopWatch/Counter.vhdl
  testsuite/pyunit/dom/examples/StopWatch/Debouncer.vhdl
  testsuite/pyunit/dom/examples/StopWatch/StopWatch.pkg.vhdl
  testsuite/pyunit/dom/examples/StopWatch/StopWatch.vhdl
  testsuite/pyunit/dom/examples/StopWatch/Utilities.pkg.vhdl
  testsuite/pyunit/dom/examples/StopWatch/seg7_Display.vhdl
  testsuite/pyunit/dom/examples/StopWatch/seg7_Encoder.vhdl
  testsuite/pyunit/dom/examples/StopWatch/toplevel.Display.vhdl
  testsuite/pyunit/dom/examples/StopWatch/toplevel.Encoder.vhdl
  testsuite/pyunit/dom/examples/StopWatch/toplevel.StopWatch.tb.vhdl
  testsuite/pyunit/dom/examples/StopWatch/toplevel.StopWatch.vhdl
  testsuite/pyunit/libghdl/Initialize.py
Labels: Enhancement, Interface: Python, Testsuite: python

#2281 Configurable encoding for pyGHDL
  pyGHDL/dom/Attribute.py
  pyGHDL/dom/Concurrent.py
  pyGHDL/dom/Expression.py
  pyGHDL/dom/NonStandard.py
  pyGHDL/dom/Sequential.py
  pyGHDL/dom/_Translate.py
  pyGHDL/dom/_Utils.py
  pyGHDL/dom/formatting/prettyprint.py
  pyGHDL/libghdl/__init__.py
  pyGHDL/libghdl/errorout_memory.py
  pyGHDL/libghdl/files_map_editor.py
  pyGHDL/libghdl/name_table.py
  pyGHDL/libghdl/str_table.py
Labels: Enhancement, Interface: Python

#2283 Sphinx updates
  doc/_templates/autoapi/module.rst
  doc/conf.py
  doc/prolog.inc
Labels: Enhancement, Documentation: Restructured Text

#2293 Limit Sphinx to 5.3 <= XX < 6.0
  doc/requirements.txt
Labels: Documentation: Restructured Text

#2289 Updates due to pyVHDLModel Enhancements
  pyGHDL/cli/dom.py
  pyGHDL/dom/Aggregates.py
  pyGHDL/dom/Concurrent.py
  pyGHDL/dom/DesignUnit.py
  pyGHDL/dom/Expression.py
  pyGHDL/dom/InterfaceItem.py
  pyGHDL/dom/Literal.py
  pyGHDL/dom/Misc.py
  pyGHDL/dom/Names.py
  pyGHDL/dom/NonStandard.py
  pyGHDL/dom/Object.py
  pyGHDL/dom/PSL.py
  pyGHDL/dom/Range.py
  pyGHDL/dom/Symbol.py
  pyGHDL/dom/_Translate.py
  pyGHDL/dom/_Utils.py
  pyGHDL/dom/formatting/prettyprint.py
  pyGHDL/dom/requirements.txt
  testsuite/pyunit/dom/StopWatch.py
  testsuite/pyunit/dom/VHDLLibraries.py
  testsuite/pyunit/dom/examples/StopWatch/Counter.vhdl
  testsuite/pyunit/dom/examples/StopWatch/Debouncer.vhdl
  testsuite/pyunit/dom/examples/StopWatch/StopWatch.ctx.vhdl
  testsuite/pyunit/dom/examples/StopWatch/StopWatch.pkg.vhdl
  testsuite/pyunit/dom/examples/StopWatch/StopWatch.vhdl
  testsuite/pyunit/dom/examples/StopWatch/Utilities.ctx.vhdl
  testsuite/pyunit/dom/examples/StopWatch/Utilities.pkg.vhdl
  testsuite/pyunit/dom/examples/StopWatch/seg7_Display.cfg.vhdl
  testsuite/pyunit/dom/examples/StopWatch/seg7_Display.vhdl
  testsuite/pyunit/dom/examples/StopWatch/seg7_Encoder.vhdl
  testsuite/pyunit/dom/examples/StopWatch/sync_Bits.vhdl
  testsuite/pyunit/dom/examples/StopWatch/toplevel.Display.vhdl
  testsuite/pyunit/dom/examples/StopWatch/toplevel.Encoder.vhdl
  testsuite/pyunit/dom/examples/StopWatch/toplevel.StopWatch.tb.vhdl
  testsuite/pyunit/dom/examples/StopWatch/toplevel.StopWatch.vhdl
Labels: Enhancement, Interface: Python, Testsuite: python
